{
  "extends" : "standard",
  "rules"   : {
    "template-curly-spacing" : [
      "error",
      "always"
    ],
    "no-multi-spaces"        : [
      "error",
      {
        "exceptions" : {
          "VariableDeclarator" : true,
          "ImportDeclaration"  : true
        }
      }
    ],
    "quotes"                 : [
      2,
      "single",
      {
        "avoidEscape" : true
      }
    ]
  }
}
